<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LODSPeaKr Basic Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="alternate" type="application/rdf+xml" title="RDF/XML Version" href="{{lodspk.local.value}}.rdf" />
    <link rel="alternate" type="text/turtle" title="Turtle Version" href="{{lodspk.local.value}}.ttl" />
    <link rel="alternate" type="text/plain" title="N-Triples Version" href="{{lodspk.local.value}}.nt" />
    <link rel="alternate" type="application/json" title="RDFJSON Version" href="{{lodspk.local.value}}.json" />
    <link href="{{lodspk.home}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .wait{
        background-image:url('img/wait.gif');
        background-repeat:no-repeat;
        padding-right:20px;
        background-position: right;
      }
    </style>
    <link href="{{lodspk.home}}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{lodspk.home}}js/jquery.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.typeahead').typeahead({
            source: function (typeahead, query) {
              $('.typeahead').addClass('wait');[]
              return $.get('{{lodspk.home}}search/'+encodeURIComponent(query), { }, function (data) {
                  $('.typeahead').removeClass('wait');[]
                  return typeahead.process(data);
              }, 'json');
            },
            onselect: function (obj) {
              $('.typeahead').attr('disabled', true);
              window.location = obj.uri;
            }
        });
    });
    </script>
  </head>
  <body>
{%include "../../includes/header.inc"%}
    <div class="container">
      <h1>{{first.details.label.value}} <small><a href='http://sws.geonames.org/{{lodspk.args.arg0}}/'>geonames<i class="icon-share"></i></a></small></h1>
      <div class="span4">
          <span style='text-align:center'><a href='http://alia/iogdcexample/structure/GHI'>Global Hunger Index</a></span>
          {%if models.ghi|length == 0%}
           <div class="alert alert-info">
             <p>No data found</p>
          </div>
          {%else%}
          {{models.ghi|GoogleVizColumnChart:"year,val"}}
          {%endif%}
      </div>
      <div class="span4">
          <span style='text-align:center'><a href='http://alia/iogdcexample/structure/supportingDataPUW'>Prevelance of underweight in children under five (in %)</a></span>
          {%if models.puw|length == 0%}
           <div class="alert alert-info">
             <p>No data found</p>
          </div>
          {%else%}
          {{models.puw|GoogleVizColumnChart:"year,val"}}
          {%endif%}
      </div>
      <div class="span4">
          <span style='text-align:center'><a href='http://alia/iogdcexample/structure/supportingDataU5MR'>Proportion of children dying before the age of five (in %)</a></span>
          {%if models.pun|length == 0%}
           <div class="alert alert-info">
             <p>No data found</p>
          </div>
          {%else%}
          {{models.pun|GoogleVizColumnChart:"year,val"}}
          {%endif%}
      </div>
      <div class="span4">
          <span style='text-align:center'><a href='http://alia/iogdcexample/structure/supportingDataPUN'>Proportion of the the population that is undernourished (in %)</a></span>
          {%if models.mr|length == 0%}
           <div class="alert alert-info">
             <p>No data found</p>
          </div>
          {%else%}
          {{models.mr|GoogleVizColumnChart:"year,val"}}
          {%endif%}
      </div>
      <div class="span4">
      {{models.dbpedia.map|GoogleMaps:"la,lo,la,,,1"}}
      </div>
      <div class="span6" style="text-align:justify">
      {{first.dbpedia.map.ab.value}}
      </div>
    </div>
  </body>
</html>
